source https://www.nuget.org/api/v2

nuget Elmish
version 7.2.1

group Fable
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json

    framework: auto-detect

    nuget Fable.Browser.Url ~> 1
    nuget Fable.Core ~> 4
    nuget Fable.Elmish ~> 4
    nuget Fable.Remoting.Client ~> 7
    nuget Fable.Promise ~> 3
    nuget Fable.Remoting.MsgPack ~> 1
    nuget Fable.SimpleJson ~> 3
    nuget Feliz ~> 2
    nuget Feliz.UseElmish ~> 2
    nuget FSharp.Core ~> 4.7.2
    nuget Zanaptak.TypedCssClasses ~> 1

group Net7
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json

    condition: net7_0
    framework: net7.0

    nuget BenchmarkDotNet ~> 0
    nuget BlackFox.CommandLine ~> 1
    nuget Elmish ~> 4
    nuget Expecto ~> 10
    nuget Expecto.FsCheck ~> 10
    nuget Fable.Remoting.Giraffe ~> 5
    nuget Fable.Remoting.Json ~> 2
    nuget Fable.Remoting.MsgPack ~> 1
	nuget Fake.IO.FileSystem ~> 5
	nuget Fake.JavaScript.Npm ~> 5
    nuget Fake.JavaScript.Yarn ~> 5
    nuget FSharp.Control.AsyncSeq ~> 3
    nuget FSharp.Core >= 7
    nuget FSharp.Data ~> 6
    nuget Giraffe ~> 6
    nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 7
    nuget Microsoft.AspNetCore.SignalR.Client ~> 7
    nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson ~> 7
    nuget Microsoft.AspNetCore.TestHost ~> 7
    nuget Microsoft.IO.RecyclableMemoryStream ~> 2
    nuget Saturn ~> 0.16
    nuget System.Text.Encodings.Web ~> 7

group NetStandard2
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json

    condition: netstandard2_0
    framework: netstandard2.0

    nuget Elmish ~> 3
    nuget Fable.Remoting.Json ~> 2
    nuget Fable.Remoting.MsgPack ~> 1
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget Microsoft.AspNetCore.SignalR.Client ~> 5
    nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson ~> 5
    nuget Microsoft.IO.RecyclableMemoryStream ~> 2

group Tooling
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json

	nuget Fake.IO.FileSystem ~> 5
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget Yarnpkg.Yarn ~> 1

group FakeBuild
	source https://api.nuget.org/v3/index.json

	nuget Fake.Core.Target ~> 6
	nuget Fake.Core.ReleaseNotes ~> 6
	nuget Fake.DotNet.AssemblyInfoFile ~> 6
	nuget Fake.DotNet.Cli ~> 6
	nuget Fake.DotNet.MSBuild ~> 6
	nuget Fake.DotNet.Paket ~> 6
	nuget Fake.IO.FileSystem ~> 6
	nuget Fake.JavaScript.Npm ~> 6
    nuget Fake.JavaScript.Yarn ~> 6
	nuget Fake.Tools.Git ~> 6
    nuget FSharp.Core ~> 6
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget NuGet.Packaging ~> 6